	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Labti Universitas Gunadarma</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/nice-select.css">					
			<link rel="stylesheet" href="css/animate.min.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/main.css">
		</head>

		<body>
			<header id="header" id="home">
		    <div class="container">
		    	<div class="row align-items-center justify-content-between d-flex">
				    <div id="logo">
				      <a href="index.html"><img src="img/logo-labti.png" width="50px"/></a>
				    </div>
			      <nav id="nav-menu-container">
			        <ul class="nav-menu align-items-center justify-content-between d-flex">
			          <li><a href="index.html">Beranda</a></li>
				        <li class="menu-has-children menu-active"><a href="#">Praktikum</a>
				          <ul>
				         		<li><a href="tata-tertib.html">Tata Tertib</a></li>
				 	          <li><a href="#">Jadwal</a></li>
					          <li><a href="#">Modul</a></li>
				          	<li><a href="pelayanan.html">Pelayanan</a></li>
				          </ul>
				        </li>
				        <li><a href="berita.html">Berita</a></li>
				        <li><a href="#">Masuk</a></li>
				        <!-- <li><a href="#"><img src="img/logo-kompres.png" height="24px"></a></li> -->
			        </ul>
			      </nav><!-- #nav-menu-container -->		    		
		    	</div>
		    </div>
			</header><!-- #header -->

			<!-- Start Content Area -->
			<section class="sample-text-area">
				<div class="container">
					<div class="text-center">	
						<h1>Tata Tertib</h1>
						<h3 class="text-heading">Laboratorium Teknik Informatika</h3>
						<p class="section-title">diperbarui pada 10 Maret 2019</p>
					</div>
					<div class="">
						<p class="text-heading text-uppercase"><b>Pakaian</b></p>
						<p class="sample-text text-justify">
							Praktikan Laboratorium Teknik Informatika mengenakan kemeja berkerah lipat dan berkancing dari atas hingga bawah dengan celana bahan bagi pria dan rok bahan bagi wanita. Berikut penjelasan lebih lanjut terkait tata tertib praktikan dalam berpakaian.
						</p>
						<ol class="ordered-list section-title">
							<li><span>Kemeja tidak berbahan tipis dan tidak menerawang</span></li>
							<li><span>Kemeja bukan berbahan denim / jeans / flanel / kaos / baju pantai</span></li>
							<li><span>Kemeja tidak boleh bermotif bordir</span></li>
							<li><span>Panjang lengan kemeja minimal 1 telapak tangan diatas siku</span></li>
							<li><span>Mengenakan kemeja dengan rapih dan formal</span></li>
							<li><span>Kemeja harus dimasukkan kedalam celana walaupun batik</span></li>
							<li><span>Celana bukan berbahan kodorai / kargo</span></li>
							<li><span>Panjang rok dibawah atau menutupi lutut</span></li>
							<li><span>Rambut harus ditata dengan rapih</span></li>
						</ol>
					</div>
					<div class="">
						<p class="text-heading text-uppercase"><b>Praktikum</b></p>
						<p class="sample-text text-justify">
							Seluruh mahasiswa jurusan Teknik Informatika Universitas Gunadarma yang aktif diwajibkan untuk mengikuti praktikum yang ada di semester berjalan baik praktikum yang bersifat SKS maupun Non-SKS / penunjang. Jika tidak maka akan dianggap gagal dalam praktikum tersebut. Berikut penjelasan lebih lanjut terkait tata tertib praktikan dalam praktikum. 
						</p>
						<ol class="ordered-list section-title">
							<li><span>Hadir 15 menit sebelum praktikum berlangsung</span></li>
							<li><span>Sopan dalam bertingkah laku dan bertutur kata</span></li>
							<li><span>Menjaga kebersihan dan ketertiban di lingkungan Laboratorium Teknik Informatika</span></li>
							<li><span>Keluar dan masuk ruang laboratorium atas izin asisten</span></li>
							<li><span>Tidak diperkenankan untuk mengunakan perangkat musik portable</span>
								<ol class="ordered-list-alpha">
									<li><span>Walkman</span></li>
									<li><span>Walkmanphone</span></li>
									<li><span>Ipod</span></li>
									<li><span>Handphone</span></li>
								</ol>
							</li>
							<li><span>Tidak diperkenankan untuk makan, minum, dan merokok di lingkungan Laboratorium Teknik Informatika</span></li>
							<li><span>Menjaga dan merawat kartu praktikum agar tidak hilang</span></li>
							<li><span>Memasang pas foto formal berwarna ukuran 2x3 pada kartu praktikum</span></li>
							<li><span>Mengerjakan Laporan Pendahuluan dan Laporan Akhir berdasarkan waktu yang telah ditentukan</span></li>
							<li><span>Wajib melakukan pengulangan jika tidak mengerjakan Laporan Pendahuluan dan Laporan Akhir berdasarkan waktu yang telah ditentukan dengan alasan apapun</span></li>
							<li><span>Bertanggungjawab atas peralayan Laboratorium Teknik Informatika yang sedang digunakan</span></li>
							<li><span>Menghadiri keseluruhan pertemuan praktikum</span></li>
						</ol>
					</div>
					<div class="">
						<p class="text-heading text-uppercase"><b>Pengulangan</b></p>
						<p class="sample-text text-justify">
							Praktikan Laboratorium Teknik Informatika diwajibkan untuk melapor ke ruang E535 selambat-lambatnya 3 hari setelah hari praktikum untuk mendapat izin pengulangan jika terjadi kendala dengan kehadiran pada praktikum. Praktikan mendapat izin pengulangan jika: 
						</p>
						<ol class="ordered-list section-title">
							<li><span>Sakit dengan membawa surat dokter</span></li>
							<li><span>Terlambat karena kendala kereta dengan membawa surat keterangan keterlambatan dari stasiun</span></li>
							<li><span>Terjadi kendala dengan kendaraan dengan membawa kwitansi pembayaran dari bengkel</span></li>
							<li><span>Terdapat keperluan keluarga dengan membawa surat izin dari orang tua lengkap dengan tandatangan salah satu orang tua dan fotokopi KTP yang bertandatangan</span></li>
							<li><span>Tidak membawa kartu praktikum</span></li>
							<li><span>Tidak hadir pada pertemuan sebelumnya</span></li>
							<li><span>Kehujanan hingga pakaian basah</span></li>
							<li><span>Terdapat kendala lain yang tidak disebutkan diatas dengan surat yang telah ditandatangani oleh kepala Laboratorium Teknik Informatika</span></li>
						</ol>
					</div>
				</div>
			</section>
			<!-- End Content Area -->
		
			<!-- Start footer Area -->		
			<footer class="footer-area section-gap text-white" style="background-image: url(img/2.png);">
				<div class="container">
					<div class="row">
						<div class="single-feature col-lg-6 text-center">
							<h4 class="text-white">Depok</h4>
							<ul>
								<li>E535 Universitas Gunadarma</li>
								<li>Jl. Akses UI, Kelapa Dua, Cimanggis, Depok</li>
								<li>+62 896-896-01317</li>
								<li>halo@ti.lab.gunadarma.ac.id</li>
							</ul>
						</div>
						<div class="single-feature col-lg-6 text-center">
							<h4 class="text-white">Kalimalang</h4>
							<ul>
								<li>J122 Universitas Gunadarma</li>
								<li>Jl. Akses UI, Kelapa Dua, Cimanggis, Depok</li>
								<li>+62 896-896-01317</li>
								<li>halo@ti.lab.gunadarma.ac.id</li>
							</ul>
						</div>							
					</div>
				</div>
				<div class="container">
					<!-- <form class="col-lg-8 offset-lg-2 form-area mt-60" id="myForm" action="mail.php" method="post" class="contact-form text-right">
						<div class="row">	
							<div class="col-lg-4 form-group">
								<input name="name" placeholder="Nama" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nama'" class="common-input mb-20 form-control" required="" type="text">
							</div>

							<div class="col-lg-4 form-group">
								<input name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" class="common-input mb-20 form-control" required="" type="email">
							</div>

							<div class="col-lg-4 form-group">
								<input name="subject" placeholder="Subjek" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subjek'" class="common-input mb-20 form-control" required="" type="text">
							</div>
							<div class="col-lg-6 form-group">
								<textarea class="common-textarea mt-10 form-control" name="message" placeholder="Tulis pesan" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tulis pesan'" required=""></textarea>
								<div class="mt-10 alert-msg"></div>
							</div>
							<div class="col-lg-12 form-group">
								<textarea class="common-textarea mt-10 form-control" name="message" placeholder="Tulis pesan" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tulis pesan'" required=""></textarea>
								<div class="mt-10 alert-msg"></div>
								<button class="primary-btn mt-20">Kirim Pesan<span class="lnr lnr-arrow-right"></span></button>
							</div>
						</div>
					</form> -->
					<div class="footer-bottom text-center">
            <p class="footer-text m-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
						<div class="footer-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa fa-medium"></i></a>
						</div>
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>			
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>	
			<script src="js/owl.carousel.min.js"></script>			
			<script src="js/jquery.sticky.js"></script>
			<script src="js/jquery.nice-select.min.js"></script>	
			<script src="js/waypoints.min.js"></script>
			<script src="js/jquery.counterup.min.js"></script>					
			<script src="js/parallax.min.js"></script>	
			<script src="js/mail-script.js"></script>	
			<script src="js/main.js"></script>	
		</body>
	</html>
